<div class="card-wrapper">

  <div class="main-card">
    <a href="#" class="main-card-wrapper-link">
      <div class="main-card-img">
        <img src="https://framerusercontent.com/images/TQv9Req7ZME40dmudtRtkwz9lcQ.webp" alt=""
             style="pointer-events: none; user-select: none; display: block; width: 100%; height: 100%; border-radius: inherit; object-position: center center; object-fit: cover; image-rendering: auto;">
      </div>
      <div class="main-card-text">
        <div class="text-holder">
          <h2>Whitefish Estate</h2>
          <p>Whitefish, Montana, United States</p>
        </div>
        <div class="card-price-holder">
          <div class="price-holder">
            <span class="price">$10,000</span>
            <span> / night</span>
          </div>
          <div class="rating">
            <i class="fa fa-star"></i>
            5.0
          </div>
        </div>
      </div>
      <span class="liked-icon">
        <i class="far fa-heart"></i>
      </span>
    </a>
  </div>

  <div class="main-card">
    <a href="#" class="main-card-wrapper-link">
      <div class="main-card-img">
        <img src="https://framerusercontent.com/images/afIWyPD7bAqXpOTuGYeO4FzrnU.webp" alt=""
             style="pointer-events: none; user-select: none; display: block; width: 100%; height: 100%; border-radius: inherit; object-position: center center; object-fit: cover; image-rendering: auto;">
      </div>
      <div class="main-card-text">
        <div class="text-holder">
          <h2>Luxury stay in Weston, Saint James, Barbados</h2>
          <p>Weston, Saint James, Barbados</p>
        </div>
        <div class="card-price-holder">
          <div class="price-holder">
            <span class="price">$1,500</span>
            <span> / night</span>
          </div>
          <div class="rating">
            <i class="fa fa-star"></i>
            5.0
          </div>
        </div>
      </div>
      <span class="liked-icon">
        <i class="far fa-heart"></i>
      </span>
    </a>
  </div>

  <div class="main-card">
    <a href="#" class="main-card-wrapper-link">
      <div class="main-card-img">
        <img src="https://framerusercontent.com/images/wTSsHOfD0gXYkODZBWWWOfdkw.webp" alt=""
             style="pointer-events: none; user-select: none; display: block; width: 100%; height: 100%; border-radius: inherit; object-position: center center; object-fit: cover; image-rendering: auto;">
      </div>
      <div class="main-card-text">
        <div class="text-holder">
          <h2>Numero 22 - Lake Como - Design Living & Lake View</h2>
          <p>Laglio, Lombardia, Italy</p>
        </div>
        <div class="card-price-holder">
          <div class="price-holder">
            <span class="price">$359</span>
            <span> / night</span>
          </div>
          <div class="rating">
            <i class="fa fa-star"></i>
            5.0
          </div>
        </div>
      </div>
      <span class="liked-icon">
        <i class="far fa-heart"></i>
      </span>
    </a>
  </div>

  <div class="main-card">
    <a href="#" class="main-card-wrapper-link">
      <div class="main-card-img">
        <img src="https://framerusercontent.com/images/3E8SIyOR9oYK20P1hy1BtAelgI.webp" alt="" style="pointer-events: none; user-select: none; display: block; width: 100%; height: 100%; border-radius: inherit; object-position: center center; object-fit: cover; image-rendering: auto;">
      </div>
      <div class="main-card-text">
        <div class="text-holder">
          <h2>7,500 sq ft Private Beachfront Estate</h2>
          <p>Dubai, United Arab Emirates</p>
        </div>
        <div class="card-price-holder">
          <div class="price-holder">
            <span class="price">$2,478</span>
            <span> / night</span>
          </div>
          <div class="rating">
            <i class="fa fa-star"></i>
            4.73
          </div>
        </div>
      </div>
      <span class="liked-icon">
        <i class="far fa-heart"></i>
      </span>
    </a>
  </div>
  <div class="main-card">
    <a href="#" class="main-card-wrapper-link">
      <div class="main-card-img">
        <img src="https://framerusercontent.com/images/TQv9Req7ZME40dmudtRtkwz9lcQ.webp" alt=""
             style="pointer-events: none; user-select: none; display: block; width: 100%; height: 100%; border-radius: inherit; object-position: center center; object-fit: cover; image-rendering: auto;">
      </div>
      <div class="main-card-text">
        <div class="text-holder">
          <h2>Whitefish Estate</h2>
          <p>Whitefish, Montana, United States</p>
        </div>
        <div class="card-price-holder">
          <div class="price-holder">
            <span class="price">$10,000</span>
            <span> / night</span>
          </div>
          <div class="rating">
            <i class="fa fa-star"></i>
            5.0
          </div>
        </div>
      </div>
      <span class="liked-icon">
        <i class="far fa-heart"></i>
      </span>
    </a>
  </div>

  <div class="main-card">
    <a href="#" class="main-card-wrapper-link">
      <div class="main-card-img">
        <img src="https://framerusercontent.com/images/afIWyPD7bAqXpOTuGYeO4FzrnU.webp" alt=""
             style="pointer-events: none; user-select: none; display: block; width: 100%; height: 100%; border-radius: inherit; object-position: center center; object-fit: cover; image-rendering: auto;">
      </div>
      <div class="main-card-text">
        <div class="text-holder">
          <h2>Luxury stay in Weston, Saint James, Barbados</h2>
          <p>Weston, Saint James, Barbados</p>
        </div>
        <div class="card-price-holder">
          <div class="price-holder">
            <span class="price">$1,500</span>
            <span> / night</span>
          </div>
          <div class="rating">
            <i class="fa fa-star"></i>
            5.0
          </div>
        </div>
      </div>
      <span class="liked-icon">
        <i class="far fa-heart"></i>
      </span>
    </a>
  </div>

  <div class="main-card">
    <a href="#" class="main-card-wrapper-link">
      <div class="main-card-img">
        <img src="https://framerusercontent.com/images/wTSsHOfD0gXYkODZBWWWOfdkw.webp" alt=""
             style="pointer-events: none; user-select: none; display: block; width: 100%; height: 100%; border-radius: inherit; object-position: center center; object-fit: cover; image-rendering: auto;">
      </div>
      <div class="main-card-text">
        <div class="text-holder">
          <h2>Numero 22 - Lake Como - Design Living & Lake View</h2>
          <p>Laglio, Lombardia, Italy</p>
        </div>
        <div class="card-price-holder">
          <div class="price-holder">
            <span class="price">$359</span>
            <span> / night</span>
          </div>
          <div class="rating">
            <i class="fa fa-star"></i>
            5.0
          </div>
        </div>
      </div>
      <span class="liked-icon">
        <i class="far fa-heart"></i>
      </span>
    </a>
  </div>

  <div class="main-card">
    <a href="#" class="main-card-wrapper-link">
      <div class="main-card-img">
        <img src="https://framerusercontent.com/images/wTSsHOfD0gXYkODZBWWWOfdkw.webp" alt=""
             style="pointer-events: none; user-select: none; display: block; width: 100%; height: 100%; border-radius: inherit; object-position: center center; object-fit: cover; image-rendering: auto;">
      </div>
      <div class="main-card-text">
        <div class="text-holder">
          <h2>7,500 sq ft Private Beachfront Estate</h2>
          <p>Dubai, United Arab Emirates</p>
        </div>
        <div class="card-price-holder">
          <div class="price-holder">
            <span class="price">$2,478</span>
            <span> / night</span>
          </div>
          <div class="rating">
            <i class="fa fa-star"></i>
            4.73
          </div>
        </div>
      </div>
      <span class="liked-icon">
        <i class="far fa-heart"></i>
      </span>
    </a>
  </div>

</div>
