<div class="card-wrapper">
  <div *ngFor="let room of JsonObj.data; let i = index" class="main-card">
    <a data-bs-toggle="offcanvas" (click)="checkRoomDetail(room)" href="#openViewRoom" role="button" aria-controls="openViewRoom" class="main-card-wrapper-link">
      <div class="main-card-img">
        <img [src]="room.imgUrl" alt="image" class="roomImg" >
      </div>
      <div class="main-card-text">
        <div class="text-holder">
          <h2>{{room.heading}}</h2>
          <p>{{room.subHeading}}</p>
        </div>
        <div class="card-price-holder">
          <div class="price-holder">
            <span class="price">{{room.price}}</span>
            <span> / {{room.day}}</span>
          </div>
          <div class="rating">
            <i class="fa fa-star"></i>
            {{room.rating}}
          </div>
        </div>
      </div>
      <span class="liked-icon">
        <i class="far fa-heart"></i>
      </span>
    </a>
  </div>
</div>
<!-- Modal -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="openViewRoom" aria-labelledby="openViewRoomLabel">
  <button type="button" class="close-view btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  <div class="offcanvas-body">
    <div class="main-overlay-content">
      <div class="overlay-content-images">
        <div class="left-image">
          <img [src]="openRoomDetail.imgUrl" alt="image" class="roomImg">
          <a href="#" class="view-more-images">View All Photos</a>
        </div>
        <div class="right-images">
          <div class="image-holder">
            <img [src]="openRoomDetail.imgUrl2" alt="image" class="roomImg">
          </div>
          <div class="image-holder">
            <img [src]="openRoomDetail.imgUrl3" alt="image" class="roomImg">
          </div>
        </div>
      </div>
      <div class="overlay-info-content">
        <div class="hotel-info-holder">
          <div class="hotel-name-detail">
            <span class="hotel-label">
              <i class="fa fa-medal"></i>
              Superhost
            </span>
            <div class="share-holder">
              <i class="fa fa-share-square"></i>
              <i class="fa fa-heart"></i>
            </div>
            <div class="name-holder">
              <div class="holder">
                <h5>{{openRoomDetail.heading}}</h5>
              </div>
              <p>{{openRoomDetail.subHeading}}</p>
            </div>
            <div class="rooms-details">
              <ul>
                <li>
                  <i class="fa fa-users"></i>
                  <span>8 guests</span>
                </li>
                <li>
                  <i class="fa fa-bed"></i>
                  <span>4 bedrooms</span>
                </li>
                <li>
                  <i class="fa fa-bed"></i>
                  <span>5 beds</span>
                </li>
                <li>
                  <i class="fa fa-bath"></i>
                  <span>4 baths</span>
                </li>
              </ul>
            </div>
            <hr class="hr my-4" />
            <div class="booking-terms">
              <div class="booking-terms-box">
                <span class="icon">
                  <i class="fa fa-tv"></i>
                </span>
                <h3>Dedicated workspace</h3>
                <p>A private room with wifi that’s well-suited for working.</p>
              </div>
              <div class="booking-terms-box">
                <span class="icon">
                  <i class="fa fa-clipboard-check"></i>
                </span>
                <h3>Self check-in</h3>
                <p>Check yourself in with the keypad.</p>
              </div>
              <div class="booking-terms-box">
                <span class="icon">
                  <i class="fa fa-calendar-check"></i>
                </span>
                <h3>Free cancellation before Jul 25</h3>
                <p>A private room with wifi that’s well-suited for working.</p>
              </div>
            </div>
            <hr class="hr my-4" />
            <div class="sub-description-text">
              <div class="text-holder">
                <h3>About this space</h3>
                <p>Enjoy a quiet getaway in this charming cottage renovated, designed, and owned by Chip and Joanna Gaines. Originally the carriage house for Hillcrest Estate, this home includes one bedroom, one bath, an office nook and a private back patio. This makes it the perfect getaway for a party of two, or if you’re stopping through town and need a restful place to retreat.</p>
              </div>
  
              <div class="text-holder">
                <h3>The space</h3>
                <p>An open living, dining, and kitchen area provide ample room in this cozy cottage. French double doors lead you out to the back patio to enjoy your own private outdoor space. A dedicated, covered parking spot for your use. The parking lot is shared with Hillcrest Estate guests.</p>
              </div>
              <a href="#">Read more</a>
            </div>
            <hr class="hr my-4" />
            <div class="name-holder">
              <div class="holder">
                <h5>What this place offers</h5>
              </div>
              <div class="rooms-details">
                <ul>
                  <li>
                    <i class="fa fa-users"></i>
                    <span>8 guests</span>
                  </li>
                  <li>
                    <i class="fa fa-bed"></i>
                    <span>4 bedrooms</span>
                  </li>
                  <li>
                    <i class="fa fa-bed"></i>
                    <span>5 beds</span>
                  </li>
                  <li>
                    <i class="fa fa-bath"></i>
                    <span>4 baths</span>
                  </li>
                  <li>
                    <i class="fa fa-users"></i>
                    <span>8 guests</span>
                  </li>
                  <li>
                    <i class="fa fa-bed"></i>
                    <span>4 bedrooms</span>
                  </li>
                  <li>
                    <i class="fa fa-bed"></i>
                    <span>5 beds</span>
                  </li>
                  <li>
                    <i class="fa fa-bath"></i>
                    <span>4 baths</span>
                  </li>
                  <li>
                    <i class="fa fa-users"></i>
                    <span>8 guests</span>
                  </li>
                  <li>
                    <i class="fa fa-bed"></i>
                    <span>4 bedrooms</span>
                  </li>
                  <li>
                    <i class="fa fa-bed"></i>
                    <span>5 beds</span>
                  </li>
                  <li>
                    <i class="fa fa-bath"></i>
                    <span>4 baths</span>
                  </li>
                  <li>
                    <i class="fa fa-users"></i>
                    <span>8 guests</span>
                  </li>
                  <li>
                    <i class="fa fa-bed"></i>
                    <span>4 bedrooms</span>
                  </li>
                  <li>
                    <i class="fa fa-bed"></i>
                    <span>5 beds</span>
                  </li>
                  <li>
                    <i class="fa fa-bath"></i>
                    <span>4 baths</span>
                  </li>
                  <li>
                    <i class="fa fa-users"></i>
                    <span>8 guests</span>
                  </li>
                  <li>
                    <i class="fa fa-bed"></i>
                    <span>4 bedrooms</span>
                  </li>
                  <li>
                    <i class="fa fa-bed"></i>
                    <span>5 beds</span>
                  </li>
                  <li>
                    <i class="fa fa-bath"></i>
                    <span>4 baths</span>
                  </li>
                </ul>
                <a href="#">View more</a>
              </div>
            </div>
            <hr class="hr my-4" />
            <div class="reviews">
              <div class="holder">
                <h5>Reviews</h5>
                <p><i class="fa fa-star"></i> 5.0 <i class="bi bi-dash-lg"></i> 123 reviews</p>
              </div>
              <div class="col-auto ratings">
                <div class="pull-left">
                  <div class="type">
                    Cleanliness
                  </div>
                  <div class="pull-leftjk">
                    <div class="progress">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 100%">
                      <span class="sr-only">80% Complete (danger)</span>
                      </div>
                    </div>
                  </div>
                  <div class="pull-right" style="margin-left:10px;">5.0</div>
                </div>
                <div class="pull-left">
                  <div class="type">
                    Accuracy
                  </div>
                  <div class="pull-leftjk">
                    <div class="progress" style="height:9px; margin:8px 0;">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 80%">
                      <span class="sr-only">80% Complete (danger)</span>
                      </div>
                    </div>
                  </div>
                  <div class="pull-right" style="margin-left:10px;">4.9</div>
                </div>
                <div class="pull-left">
                  <div class="type">
                    Communication
                  </div>
                  <div class="pull-leftjk">
                    <div class="progress" style="height:9px; margin:8px 0;">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 70%">
                      <span class="sr-only">80% Complete (danger)</span>
                      </div>
                    </div>
                  </div>
                  <div class="pull-right" style="margin-left:10px;">4.7</div>
                </div>
                <div class="pull-left">
                  <div class="type">
                    Location
                  </div>
                  <div class="pull-leftjk">
                    <div class="progress" style="height:9px; margin:8px 0;">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 70%">
                      <span class="sr-only">80% Complete (danger)</span>
                      </div>
                    </div>
                  </div>
                  <div class="pull-right" style="margin-left:10px;">4.7</div>
                </div>
                <div class="pull-left">
                  <div class="type">
                    Check -in
                  </div>
                  <div class="pull-leftjk">
                    <div class="progress" style="height:9px; margin:8px 0;">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 60%">
                      <span class="sr-only">80% Complete (danger)</span>
                      </div>
                    </div>
                  </div>
                  <div class="pull-right" style="margin-left:10px;">4.0</div>
                </div>
                <div class="pull-left">
                  <div class="type">
                    Value
                  </div>
                  <div class="pull-leftjk">
                    <div class="progress" style="height:9px; margin:8px 0;">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 50%">
                      <span class="sr-only">80% Complete (danger)</span>
                      </div>
                    </div>
                  </div>
                  <div class="pull-right" style="margin-left:10px;">3.6</div>
                </div>
              </div>
              <div class="col-auto ratings">
                <div class="userinfo">
                  <div class="username"> 
                    <img src="https://framerusercontent.com/images/l64WTbI604jxlY6dzS0UsF0k6TU.png" alt="userinfo">
                  </div>
                  <div class="name">
                    <strong>Steve</strong>
                    <span>March 2023</span>
                  </div>
                </div>
                <div class="comment">
                  <p>Abbe's place was so wonderful and just what I needed. It was the perfect escape with a great wood stove, beautiful views, horses, and nearby skiing. I'm so grateful.</p>
                </div>
              </div>
              <div class="col-auto ratings">
                <div class="userinfo">
                  <div class="username"> 
                    <img src="https://framerusercontent.com/images/1IzljdLWd8T9eDfla0R5LrZ9s.png" alt="userinfo">
                  </div>
                  <div class="name">
                    <strong>Emily</strong>
                    <span>March 2023</span>
                  </div>
                </div>
                <div class="comment">
                  <p>The location was very quiet and peaceful. We loved the wood stove and the location was convenient, however the interior was not in the best shape.</p>
                </div>
              </div>
              <div class="col-auto ratings">
                <div class="userinfo">
                  <div class="username"> 
                    <img src="https://framerusercontent.com/images/jgTKOYkhLrOCP4ZWEugNNBORbs.png" alt="userinfo">
                  </div>
                  <div class="name">
                    <strong>Daniel</strong>
                    <span>March 2023</span>
                  </div>
                </div>
                <div class="comment">
                  <p>Overall a decent stay. I appreciated having a kitchen and access to firewood for the stove which heated up the little cabin very effectively.</p>
                </div>
              </div>
              <div class="col-auto ratings">
                <div class="userinfo">
                  <div class="username"> 
                    <img src="https://framerusercontent.com/images/Jc9D7O4ihy2vSsSvjtWRRQPffjw.png" alt="userinfo">
                  </div>
                  <div class="name">
                    <strong>Jackson</strong>
                    <span>March 2023</span>
                  </div>
                </div>
                <div class="comment">
                  <p>Abbe's place was so wonderful and just what I needed. It was the perfect escape with a great wood stove, beautiful views, horses, and nearby skiing. I'm so grateful.</p>
                </div>
              </div>
            </div>
            <hr class="hr my-4" />
            <div class="googleMapSec name-holder">
              <div class="holder">
                <h5>Where you'll be</h5>
              </div>
              <div class="googleMap">
                <google-map height="400px"
                            width="543px"
                            [center]="center"
                            [zoom]="zoom"
                            (mapClick)="moveMap($event)"
                            (mapMousemove)="move($event)">
                </google-map>
              </div>
            <div class="holder">
              <h5>Whitefish, Montana, United States</h5>
              <p>The property, given its close proximity to the refreshing hillside town of Tagaytay and clear blue beaches of Nasugbu, provides a quick escape from the hustle and bustle of city life.</p>
            </div>
            <a href="#">View more</a>
            </div>
            <hr class="hr my-4" />
            <div class="googleMapSec name-holder">
              <div class="holder">
                <h5>Host</h5>
              </div>
                <div class="userinfo">
                  <div class="img"> 
                    <img src="https://framerusercontent.com/images/Jc9D7O4ihy2vSsSvjtWRRQPffjw.png" alt="userinfo">
                  </div>
                  <div class="name">
                    <strong>Hosted by Brenda</strong>
                    <span>Joined in August 2014</span>
                  </div>
                  <div class="btncontact">
                    <button type="button" class="roundeds btn btn-lg btn-outline-danger btn-block">Contact Host</button>
                  </div>
                  <div class="btncontact hostRate">
                    <div class="rating">
                      <i class="fa fa-star"></i>
                        2635 Reviews
                    </div>
                    <div class="rating">
                      <i class="fa fa-sharp fa-light fa-clipboard"></i>
                      Identity verified
                    </div>
                    <div class="rating">
                      <i class="fa fa-medal"></i>
                      Superhost
                    </div>
                  </div>
              </div>
            <div class="holder">
              <p>As a mother of 4, living in Solana Beach for 25+ years, I love to help families enjoy our beautiful area. Vacations are special and we do our very best to make them affordable, enjoy…</p>
            </div>
            <a href="#">View more</a>
            </div>
          </div>
        </div>
        <div class="booking-details">
          <div class="booking-details-box">
            <div class="room-price-holder">
              <div class="room-price">{{openRoomDetail.price}} <span>/ {{openRoomDetail.day}}</span></div>
              <div class="room-rating">
                <i class="fa fa-star"></i>
                {{openRoomDetail.rating}}
              </div>
            </div>
            <div class="checkIn-info">
              <div class="check-in-out">
                <span>Check In</span>
                <div class="input-box">
                  <i class="fa fa-calendar"></i>
                  <span>6/14/2023</span>
                </div>
              </div>
              <div class="check-in-out">
                <span>Check In</span>
                <div class="input-box">
                  <i class="fa fa-calendar"></i>
                  <span>6/21/2023</span>
                </div>
              </div>
            </div>
            <div class="guests-list">
              <span>Guests</span>
              <div class="input-box">
                <span>6/21/2023</span>
                <i class="fa fa-chevron-down"></i>
              </div>
            </div>
            <div class="fee-details">
              <ul>
                <li>
                  <span>
                    6 nights
                    <i class="fa fa-info-circle"></i>
                  </span>
                  <span>$2,199</span>
                </li>
                <li>
                  <span>
                    Cleaning fee
                    <i class="fa fa-info-circle"></i>
                  </span>
                  <span>$85</span>
                </li>
                <li>
                  <span>
                    Airbnb service fee
                    <i class="fa fa-info-circle"></i>
                  </span>
                  <span>$322</span>
                </li>
              </ul>
            </div>
            <div class="total-price-holder">
              <div class="total-text">Total <span>Before taxes</span></div>
              <div class="total-price">$2,606</div>
            </div>
            <div class="btn-reserved">
              <a href="#">Reserved</a>
            </div>
          </div>
          <div class="rare-find">
            <i class="fa fa-gem"></i>
            <div class="text">
              <h3>This is a rare find</h3>
              <p>Kathryn's place on Airbnb is usually fully booked.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
