.sideMenu-holder {
  width: 88px;
  transition: all 0.5s ease-in;
  flex: 0 0 auto;
  height: inherit;
  z-index: 1;
  &:hover {
    width: 220px;
    transition: all 0.3s ease-out;
    .sideMenu-wrapper {
      .nav-pills {
        li {
          a {
            span {
              visibility: visible;
              transition: all 0.5s ease-out 0.2s;
            }
          }
        }
      }
    }
  }
  .sideMenu-wrapper {
    padding-top: 16px;
    padding-bottom: 16px;
    border-right: 1px solid #1111111a;
    height: 100%;
    .nav-pills {
      width: 100%;
      li {
        width: 100%;
        a {
          width: 100%;
          display: inline-block;
          gap: 12px;
          height: 48px;
          overflow: visible;
          padding: 8px 32px;
          position: relative;
          color: #111;
          border-right: 3px solid transparent;
          border-radius: 0;
          span {
            visibility: hidden;
            transition: all 0.2s ease-in;
            color: #717171;
            font-size: 14px;
            font-weight: 500;
          }
          svg {
            padding-left: 15px;
            margin-right: 5px;
            width: auto;
          }
          i {
            padding-left: 15px;
          }
          &.active {
            border-color: #d43b51;
            background: transparent;
          }
          &:hover {
            background: rgb(243, 243, 242);
          }
        }
      }
    }
  }
}

