<div class="offcanvas offcanvas-end" tabindex="-1" id="search-filter" aria-labelledby="search-filterLabel">
    <div class="offcanvas-body">
      <div class="filter-head">
        <h5>Filters</h5>
        <p class="clear-all">Clear All</p>
      </div>
      <hr class="hr my-2" />
      <div class="filter-head price mt-4">
        <h5>Price range</h5>
        <p>The average nightly price is $133</p>
        <div class="prices row d-flex flex-row justify-content-between">
        <div class="min-p col-6">
          <p>Min Price</p>
          <div class="input-group mb-3">
            <input type="text" class="form-control form-control-lg" readonly placeholder="$0" aria-label="min-price" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="max-p col-6">
          <p>Min Price</p>
          <div class="input-group mb-3">
            <input type="text" class="form-control form-control-lg" readonly placeholder="$500" aria-label="max-price" aria-describedby="basic-addon1">
          </div>
        </div>
        </div>
      </div>
      <hr class="hr my-2" />
      <div class="filter-head price type-of-places mt-4">
        <h5>Type Of Place</h5>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="enterPlace">
          <label class="form-check-label" for="enterPlace">
            Entire Place
          </label>
          <p>A place all to yourself</p>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="privateRoom">
          <label class="form-check-label" for="privateRoom">
            Private room
          </label>
          <p>Your own room in a home or a hotel, plus some shared common spaces.</p>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="SharedRoom">
          <label class="form-check-label" for="SharedRoom">
            Shared room
          </label>
          <p>A sleeping space and common areas that may be shared with others.</p>
        </div>
       
      </div>
      <hr class="hr my-2" />
      <div class="filter-head types price mt-4">
        <h5>Rooms, Beds And Baths</h5>
        <div class="prices d-flex flex-column mt-3">
          <p class="my-2">Bedrooms</p>
          <div class="min-p"> 
            <span class="chip active">Any</span>
            <span class="chip">1</span>
            <span class="chip">2</span>
            <span class="chip">3</span>
            <span class="chip">4</span>
            <span class="chip">5+</span>
          </div>
        </div>
        <div class="prices d-flex flex-column mt-3">
          <p class="my-2">Beds</p>
          <div class="min-p"> 
            <span class="chip active">Any</span>
            <span class="chip">1</span>
            <span class="chip">2</span>
            <span class="chip">3</span>
            <span class="chip">4</span>
            <span class="chip">5+</span>
          </div>
        </div>
        <div class="prices d-flex flex-column mt-3">
          <p class="my-2">Bathrooms</p>
          <div class="min-p"> 
            <span class="chip active">Any</span>
            <span class="chip">1</span>
            <span class="chip">2</span>
            <span class="chip">3</span>
            <span class="chip">4</span>
            <span class="chip">5+</span>
          </div>
        </div>
      </div>
    </div>
    <hr class="hr mb-3 mt-0" />
    <div class="row text-center col-10 mx-auto submit mb-3">
      <button type="button" class="roundeds btn btn-lg btn-danger" disabled>Show 836 Homes</button>
    </div>
  </div>