<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
    <!-- <div class="spacer"></div> -->
<div class="menu-tabs">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Stays</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Experiences</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Online Experiences</a>
    </li>
  </ul>
</div>      
<div class="user-profile">
  <img src="https://framerusercontent.com/images/RkV86hKSZ17yNsuZKWylbt86ZiI.png" alt="" sizes="40px">
</div>
</div>
<div class="toolbar filters-bar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
    <!-- <div class="spacer"></div> -->
<div class="menu-tabs">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Stays</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Experiences</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Online Experiences</a>
    </li>
  </ul>
</div>      
<div class="user-profile">
  <img src="https://framerusercontent.com/images/RkV86hKSZ17yNsuZKWylbt86ZiI.png" alt="" sizes="40px">
</div>
</div>

<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
      <app-sidemenu></app-sidemenu>
    </div>
      
      <div class="col py-3">
          <h3>Left Sidebar with Submenus</h3>
          <p class="lead">
              An example 2-level sidebar with collasible menu items. The menu functions like an "accordion" where only a single 
              menu is be open at a time. While the sidebar itself is not toggle-able, it does responsively shrink in width on smaller screens.</p>
          <ul class="list-unstyled">
              <li><h5>Responsive</h5> shrinks in width, hides text labels and collapses to icons only on mobile</li>
          </ul>
      </div>
  </div>
</div>

<router-outlet></router-outlet>
